In [15]:
import pandas as pd
df=pd.read_json("synthetic_pairs.json", lines=True)

In [42]:
df

,payload,insights,calculation_mode
0,"{'mode': 'MAT_COMPARE', 'measure': 'value_sale...","[In Biscuits, the strongest value sales was in...",mat_compare
1,"{'mode': 'BAR', 'measure': 'value_yoy', 'windo...","[In Biscuits, Alpha leads YoY with -5.3%., Alp...",YOY
2,"{'mode': 'BAR', 'measure': 'unit_sales', 'wind...","[Biscuits: Alpha total unit sales is 1839411.,...",total unit_sales sales
3,"{'mode': 'LINE', 'measure': 'value_sales', 'wi...","[In Biscuits, Beta reached the highest monthly...",total value_sales
4,"{'mode': 'MAT_COMPARE', 'measure': 'value_sale...","[In Biscuits, the strongest value sales was in...",mat_compare
5,"{'mode': 'BAR', 'measure': 'value_yoy', 'windo...","[In Biscuits, Beta leads YoY with 19.1%., Beta...",YOY
6,"{'mode': 'BAR', 'measure': 'value_sales', 'win...",[Biscuits: Gamma total value sales is 10425930...,total value_sales sales
7,"{'mode': 'LINE', 'measure': 'value_sales', 'wi...","[In Biscuits, Alpha reached the highest monthl...",total value_sales
8,"{'mode': 'MAT_COMPARE', 'measure': 'unit_sales...","[In Biscuits, the strongest unit sales was in ...",mat_compare
9,"{'mode': 'BAR', 'measure': 'unit_yoy', 'window...","[In Biscuits, Delta leads YoY with 13.1%., Del...",YOY
10,"{'mode': 'BAR', 'measure': 'value_sales', 'win...",[Biscuits: Alpha total value sales is 8456569....,total value_sales sales
11,"{'mode': 'LINE', 'measure': 'value_sales', 'wi...","[In Biscuits, Alpha reached the highest monthl...",total value_sales
12,"{'mode': 'MAT_COMPARE', 'measure': 'unit_sales...","[In Beverages, the strongest unit sales was in...",mat_compare
13,"{'mode': 'BAR', 'measure': 'unit_yoy', 'window...","[In Beverages, Quench leads YoY with 18.9%., Q...",YOY
14,"{'mode': 'BAR', 'measure': 'value_sales', 'win...",[Beverages: Splash total value sales is 676247...,total value_sales sales
15,"{'mode': 'LINE', 'measure': 'unit_sales', 'win...","[In Beverages, Splash reached the highest mont...",total unit_sales
16,"{'mode': 'MAT_COMPARE', 'measure': 'unit_sales...","[In Beverages, the strongest unit sales was in...",mat_compare
17,"{'mode': 'BAR', 'measure': 'unit_yoy', 'window...","[In Beverages, Fizz leads YoY with 17.7%., Fiz...",YOY
18,"{'mode': 'BAR', 'measure': 'unit_sales', 'wind...",[Beverages: Quench total unit sales is 1466241...,total unit_sales sales
19,"{'mode': 'LINE', 'measure': 'unit_sales', 'win...","[In Beverages, Splash reached the highest mont...",total unit_sales
20,"{'mode': 'MAT_COMPARE', 'measure': 'unit_sales...","[In Beverages, the strongest unit sales was in...",mat_compare
21,"{'mode': 'BAR', 'measure': 'unit_yoy', 'window...","[In Beverages, Fizz leads YoY with 16.8%., Fiz...",YOY
22,"{'mode': 'BAR', 'measure': 'unit_sales', 'wind...","[Beverages: Fizz total unit sales is 1403165.,...",total unit_sales sales
23,"{'mode': 'LINE', 'measure': 'unit_sales', 'win...","[In Beverages, Splash reached the highest mont...",total unit_sales

In [22]:
df.loc[0,"payload"]

{'mode': 'MAT_COMPARE',
 'measure': 'value_sales',
 'window': {'start': '2022-07-01', 'end': '2025-06-30'},
 'dims': ['mat_label'],
 'filters': {'category': 'Biscuits'},
 'mat_compare': {'mat_compare': {'anchor_month': 6,
   'years': [2025, 2024, 2023],
   'labels': ['MAT 2025', 'MAT 2024', 'MAT 2023']},
  'periods': [{'mat_label': 'MAT 2025',
    'start': '2024-07-01',
    'end': '2025-06-30',
    'value_sales': 6123620.356542087},
   {'mat_label': 'MAT 2024',
    'start': '2023-07-01',
    'end': '2024-06-30',
    'value_sales': 7852142.919229749},
   {'mat_label': 'MAT 2023',
    'start': '2022-07-01',
    'end': '2023-06-30',
    'value_sales': 7195981.825434215}],
  'chart_type': 'bar',
  'rowcount': 3},
 'calculation_mode': 'mat_compare'}

In [30]:
df['calculation_mode'] = df['payload'].astype(str).str.extract(r"'calculation_mode':\s*'([^']+)'")

In [41]:
a=df.loc[df['calculation_mode']=='total unit_sales sales']
a.loc[2,'payload']

{'mode': 'BAR',
 'measure': 'unit_sales',
 'window': {'start': '2022-01-01', 'end': '2022-12-31'},
 'dims': [],
 'filters': {'category': 'Biscuits', 'brand': ['Alpha']},
 'bar': {'x': 'brand',
  'y': 'unit_sales',
  'items': [{'rank': 1, 'label': 'Alpha', 'value': 1839411.3749299222}]},
 'calculation_mode': 'total unit_sales sales'}